.host-charts-container {
    font-family: Circular;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "chart1 chart2 revenue orders" 
        // "revenue"
        // "chart1"
        // "chart2"
    ;
    max-height: 270px;

    &>* {
        justify-self: center;
        height: 100%;
        padding: 1.5rem;
        border-radius: 12px;
        border: solid 1px #717171;
        aspect-ratio: 1 / 1;
    }

    .pie-chart {
        grid-area: chart1;
        height: clamp(8rem, 20vw, 230px);

        .chart {
            height: 100%;
        }
    }

    .bar-chart {
        grid-area: chart2;
        height: clamp(8rem, 20vw, 230px);

        .chart {
            height: 100%;
        }
        margin-bottom: 200px;
    }

    .total-revenue {
        grid-area: revenue;
    }

    .order-state {
        grid-area: orders;
    }

    .total-revenue, .order-state {
        display: flex;
        height: clamp(8rem, 20vw, 230px);
        align-items: center;
        justify-content: center;
        .title {
            margin-bottom: 8px;
        }

        h4 {
            margin-bottom: 6px;
        }

        .grey {
            color: #717171;
        }
    }
}