
.chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-block-end: 40px;

  
    .pie-chart,
    .bar-chart {
        max-width: 200px;
        margin-inline: 60px;
      
    }
  }
.total-revenue{
    width: 200px;
    justify-content: center;
    .revenue-title{
        margin-left: 50px;
        margin-bottom: 20px;
    }

}
.revenue-info{
    display: flex;
    justify-content: space-between;
}
