.home-date-picker {
    position: absolute;
    top: 110px;
    right: 30%;
    // max-width: 400px;
    min-height: 200px;
    border-radius: 32px;
    // z-index: 3;
    // font-family: Circular;
    // font-weight: normal;
    // font-size: 1rem;
    // border-bottom: 1px solid rgb(235, 235, 235);
    // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.1);
    // padding: 40px;
}
// .vc-container{
//     max-width: 400px;
// }

// // .demo-date-picker[data-v-765f8c06] {
// //     width: 50%;
// // }