.demo-date-picker {
    background-color: white;
    position: absolute;
    top: 85px;
    height: 72vh;
    border-radius: 32px;
    z-index: 3;
    font-family: Circular;
    font-weight: normal;
    font-size: 1rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

// .demo-date-picker[data-v-765f8c06] {
//     width: 50%;
// }