.stay-edit {
  font-family: 'Circular';

  .seller-header {
    margin-top: .75rem;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "charts table";

  }
  .table-container {
    grid-area: table;
  }
  .charts {
    grid-area: charts;
  }


  .seller-data {
    border-collapse: collapse;
    width: 100%;
    cursor: default;

    td,
    th {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: left;
    }

    td:last-child, th:last-child {
      text-align: right;
    }

    tr:nth-child(even) {
      background-color: #F2F2F2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #FF385C;
      // background-color: #04AA6D;
      color: white;

      &.margin-action::before{
        content: '';
        margin-left: 1rem;
      }
      &.margin-status::after {
        content: '';
        margin-right: 2px;
      }
    }
    // tr{
    //   height: max-content;
    // }
    td {
      text-transform: capitalize;
      // height: max-content;
       &.td-img{
          display: flex;
          // align-content: center;
          align-items: center;
          justify-content: space-between;
          

        }
        .buyer-img {
          border-radius: 50%;
          height: 2.5em;
          width: 2.5em;
        }
    }

    .actions {
      display: flex;
      justify-content: space-around;

      button {
        border: none;
        border-radius: 10px;
        padding: 7px;
        cursor: pointer;

      }

      .approve-order {
        background-color: #9ED5C5;
      }

      .decline-order {
        background-color: #F7A4A4;
      }

      &.approve {
        .approve-order {
          background-color: grey;
          pointer-events: none;
        }
      }

      &.decline {
        .decline-order {
          background-color: grey;
          pointer-events: none;
        }
      }
    }
  }

  .seller-header {
    // display: flex;

    .seller-title {
      display: flex;
      justify-content: center;
      margin-block-end: 40px;
      margin-block-start: 15px;
      font-size: 30px;
    }

    .add-stay {
      display: flex;
      align-items: center;
      // margin-inline-start: 20px;
      // margin-inline-end: 550px;
      // margin-block-start: 50px;

    }
  }
}