.small-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    font-family: 'Circular';
    font-weight: normal;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;

    .logo {
        color: #FF385C;
    }


    .search-container {
        // position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 48px;
        min-width: 350px;
        max-width: 350px;
        flex: 1;
        padding: 1rem;
        margin-inline: 30px;
        border: #e5e0e0 solid 1px;
        border-radius: 30px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
        transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
        cursor: pointer;

        :first-child {
            margin-inline-start: 7px;
        }


    }


    .search-divider {
        color: rgb(232, 230, 230);
        height: 25px;
        border-inline-end: 1px solid #dedada;
        font-size: 2px;
        font-weight: 200;
    }

    .search-icon {
        position: relative;
        right: -3%;
        width: 32px;
        height: 32px;
        background-color: #ff385c;
        border-radius: 50%;
        display: flex;
        align-items: center;

    }

    .search-icon svg {
        position: relative;
        left: 3.4px;
        height: 12px;
        width: 12px;

    }

    .profile-options {
        display: flex;
        // justify-content: center;
        align-items: center;

    }

    .profile-menu {
        // justify-content: center;
        width: 75px;
        height: 42px;
        align-items: center;
        display: inline-flex;
        border: #DDD solid 1px;
        border-radius: 30px;
        padding: 10px;
        z-index: 3;
        cursor: pointer;
    }

    .light-search-font {
        color: #717171;
        font-weight: 400;
    }

    .loggedin-user {
        position: relative;
        top: 10%;
        left: 25%;
        border-radius: 1em;
        color: whitesmoke;


        img {

            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        svg {
            height: 30px;
            width: 30px;
        }
    }

    nav {
        display: flex;
        padding: 5px 0;
    }

    .add-home {
        // margin-top: 15px;
        margin-inline-end: 15px;

    }

    .add-home a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 600;
        margin-top: 5px;

    }

    &.add-padding {
        padding-inline: 200px;
        position: absolute;
    }

    .mini-search {
        max-width: 300px;
        min-width: 300px;
    }


}


@media screen and (max-width: 670px) {
    .small-header {
        justify-content: center;
        
        
        .search-container {
            // padding: 15px;
            min-width: 300px;
            max-width: 300px;
            flex: unset;
        

        }
        .profile-options {
            display: none;
        }

        .logo {
            display: none;
        }

        .add-home {
            display: none;
        }
    }

}

@media screen and (min-width: 671px) and (max-width: 960px) {
    .small-header {
        padding: 15px;
        // .profile-options {
        //     display: none;
        // }
        .add-home {
            display: none;
        }
    }


}


@media screen and (min-width: 1025px) {
    .small-header {
        // padding: 30px;
    }

}