.small-header {
    height: 80px;
    font-family: Circular;
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235,235,235);

    .search-container {
        padding: 1rem;
        border: #919191 solid 1px;
        border-radius: 10% / 50%;
    }

    .profile-menu {
        display: inline-flex;
        border: #DDD solid 1px;
        border-radius: 40% / 50%;
        padding: 10px;
        z-index: 3;
    }

    .loggedin-user {
        border-radius: 1em;
        color: whitesmoke;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }
    nav {
        display: flex;
        padding: 5px 0;
    }
    
   
    
}
