.small-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    font-family: Circular;
    font-weight: normal;
    font-size: 1rem;
    align-items: center;
    border-bottom: 1px solid rgb(235,235,235);

    .search-container {
        display: flex;
        flex-wrap: nowrap;
        padding: 1rem;
        border: #E0E0E0 solid 1px;
        border-radius: 7% / 50%;
        color: #797979;

        & > * {
            height: 1.5rem;
        }

        & > *:not(:last-child) {
            padding-left: 1rem;
            padding-right: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .any {
            color: black;
            border-right: #E0E0E0 solid 1px;
            font-weight: bolder;
        }
    }

    .profile-menu {
        display: inline-flex;
        border: #DDD solid 1px;
        border-radius: 40% / 50%;
        padding: 10px;
    }

    .loggedin-user {
        border-radius: 1em;
        color: whitesmoke;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }
    nav {
        display: flex;
        padding: 5px 0;
    }
    nav a:not(:first-child) {
        // border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }
    // nav .active {
    //     color: $clr1;
    // }
    
}
