
// @import 'vue3-carousel/dist/carousel.css';


.carousel {

  position: relative;
  width: 100%;
  overflow: hidden;

  .carousel__viewport {
    /* Make the carousel track horizontal and remove the default browser list styles */
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all 0.3s ease;

    .carousel__slide {
      /* Set the width of each slide */
      flex: 0 0 100%;
    }
  }

  .carousel__prev,
  .carousel__next {
    /* Position the arrows */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      /* Add styles on hover */
      background-color: white;
      transform: translateY(-50%) scale(1.2);
    }

    &.carousel__next--disabled {
      /* Hide the next arrow when there is no next slide */
      display: none;
    }
  }

  .carousel__prev {
    left: 20px;
  }

  .carousel__next {
    right: 20px;
  }

  /* Show the arrows and custom pagination only when hovering over the carousel images */
  &:hover {
    .carousel__prev,
    .carousel__next {
      display: flex;
    }
    .carousel__pagination {
      display: flex;
    }
  }

  .carousel__pagination {
    /* Position the pagination */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    .carousel__pagination-item {
      margin: 0 4px;
      padding: 0;
    }

    .carousel__pagination-button {
      /* Style each pagination circle */
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #aaa;
      cursor: pointer;

      &.carousel__pagination-button--active {
        /* Style the active pagination circle */
        background-color: white;
      }
    }
  }
}
