// @import 'vue3-carousel/dist/carousel.css';


.carousel {

  position: relative;
  width: 100%;
  overflow: hidden;


  .carousel__viewport {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 10px;

    .carousel__slide {
      flex: 0 0 100%;
    }
  }

  .carousel__icon {
    fill: black;
    path {
      transform-origin: center;
      transform: scale(1.5);

    }
  }

  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    margin: 0;
    width: 27px;
    height: 27px;
    padding: 8px;
    border-radius: 50%;
    transform: translateY(-50%) scale(1.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    // background-color: lightgray;
    background-color: white;
    opacity: 0.8;
    
    &:hover{
      opacity: 1;
      width: 28px;
      height: 28px;

    }


    &.carousel__next--disabled {
      display: none;
      opacity: 0;

    }

    &.carousel__prev--disabled {
      display: none;
      opacity: 0;
    }

  }

  .carousel__prev {
    left: 20px;
  }

  .carousel__next {
    right: 20px;
  }

  /* Show the arrows and custom pagination only when hovering over the carousel images */
  &:hover {

    .carousel__prev,
    .carousel__next {
      display: flex;
    }

    .carousel__pagination {
      display: flex;
    }
  }

  .carousel__pagination {
    /* Position the pagination */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    :nth-child(n+6) {
      display: none;
    }

    .carousel__pagination-item {
      margin: 0 4.5px;
      padding: 0;
    }

    .carousel__pagination-button {
      /* Style each pagination circle */
      border-radius: 50%;
      background-color: #aaa;
      cursor: pointer;
      padding: 3px;
      margin-inline-end: -4px;

      &.carousel__pagination-button--active {
        /* Style the active pagination circle */
        background-color: white;
      }


    }
  }

  button.carousel__pagination-button::after {
    display: none;
  }
}