@font-face {
    font-family: 'Circular';
    font-weight: normal;
    src: url(src/assets/fonts/Circular/Airbnb_Cereal-Book.woff2) format(woff2);
}

@font-face {
    font-family: 'Circular';
    font-weight: bold;
    src: url(src/assets/fonts/Circular/Airbnb_Cereal-Medium.woff2) format(woff2);
}

@font-face {
    font-family: 'Circular';
    font-weight: bolder;
    src: url(src/assets/fonts/Circular/Airbnb_Cereal-Bold.woff2) format(woff2);
}