// Colors
$clr0: #222222;
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #717171;
$clr5: rgb(223, 240, 234);
$clr6: #fff;
$clr7: rgb(247, 247, 247);
$clr8: rgb(176, 176, 176);
$clrBase: rgb(34, 34, 34);
$wishlist: #FF385C ;
$clrShadow: rgb(221, 221, 221);

// Breakpoints
$mobile-breakpoint: 460px;
$list-breakpoint: 550px;
$narrow-breakpoint: 720px;
$tablet-breakpoint: 840px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1500px;